# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Test
.coverage
.tox/
htmlcov/
.nox/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Environment
.env
.venv/
*.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db